@font-face {
  font-family: Lato-Bold;
  src: url("assets/fonts/lato/Lato-Bold.ttf");
}

@font-face{
  font-family: Lato-Black;
  src: url("assets/fonts/lato/Lato-Black.ttf");
}

@font-face{
  font-family: Lato-Light;
  src: url("assets/fonts/lato/Lato-Light.ttf");
}

@font-face{
  font-family: Lato-Regular;
  src: url("assets/fonts/lato/Lato-Regular.ttf");
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

.test-wrapper {
  width: 1020px;
  margin: auto;
}

.content-wrapper {
  width: 92.1%;
  height: 100%;
  margin: 0 auto;
}

/*  Header styles */
header {
  position: sticky;

  height: 89px;

  background-color: #2d303a;
  color: white;
  box-shadow: 0 6px 0px 0px #323746;
  z-index: 150;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Lato-Bold;
  text-transform: uppercase;
}

/* Logo  styles*/
.header-wrapper .logo {
  display: flex;

  font-size: x-large;
}

.logo .logo-decorate {
  color: #f06c64;
}

/* Navbar styles */
.navbar {
  width: 39.5%;

  display: flex;
  justify-content: space-between;
}

.navbar a {
  padding-top: 7px;
  padding-left: 1.5px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 71.75%;
}

.navbar a:hover {
  color: #f06c64;
}

.navbar a+p {
  color: #494e62;
}

.is-active-nav{
  color: #f06c64 !important;
}

/* Slider styles */
.slider {
  height: 600px;
  
  position: relative;
  display: flex;
  justify-content: space-between;

  background-color: #f06c64;
  box-shadow: 0 6px 0px 0px #ea676b;
  z-index: 100;
}

.slider-nav{
  width: 5.7%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-nav:hover{
  background-color: rgba(78, 76, 76, 0.5);
}

.slider-nav:nth-child(3){
  justify-content: flex-start;
}

.slider-content{
  width: 78%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Services style */
.services {
  height: 500px;

  position: relative;

  background-color: #f2f2f2;
  box-shadow: 0 6px 0px 0px #ffffff;
  z-index: 50;
}

.services-wrapper{
  color: #767e9e;
}

/* Services description block styles */
.services-description{
  padding-top: 5.5%;
}

.services-description h1{
  font-size: 1.9rem;
  font-family: Lato-Black;
  line-height: 2;
  color: #666D89;
  letter-spacing: -0.01em;
}

.services-description p{
  padding-top: 0.5em;

  text-align: justify;
  font-size: 1.09rem;
  line-height: 1.69em;
  font-weight: 500;
  font-family: Lato-Light;
}

/* Services features block style*/
.services-features{
  padding-top: 5%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 2em;
}

.feature-block{
  display: flex;
}

.feature-description{
  padding-left: 1.1em;
  line-height: 1.25em;
}

.image-wrapper{
  text-align: center;
}

.feature-description h3{
  font-family: Lato-Black;
  word-spacing: -0.1em;
}

.feature-description p{
  padding-top: 0.9em;
  
  font-family: Lato-Regular;
  font-weight: 500;
  font-size: 0.74em;
  text-align: justify;
}
