@font-face {
    font-family: Lato-Bold;
    src: url("assets/fonts/lato/Lato-Bold.ttf");
  }
  
  @font-face{
    font-family: Lato-Black;
    src: url("assets/fonts/lato/Lato-Black.ttf");
  }
  
  @font-face{
    font-family: Lato-Light;
    src: url("assets/fonts/lato/Lato-Light.ttf");
  }
  
  @font-face{
    font-family: Lato-Regular;
    src: url("assets/fonts/lato/Lato-Regular.ttf");
  }
  


* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
  }
  
  .test-wrapper {
    width: 1020px;
    margin: auto;
  }
  
  .content-wrapper {
    width: 92.1%;
    height: 100%;
    margin: 0 auto;
  }

  .portfolio{
      height: 864px;
      display: flex;

      background-color: #2D303A;
      color: #666d89;
      box-shadow: 0 6px 0px 0px #323746;
  }

  .portfolio-description-wrapper{
      height: 21%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }

  .portfolio-description-wrapper h2{
    padding-bottom: 0.8em;
    font-family: "Lato-Black";
    font-weight: 900;
    font-size: 1.9em;
  }

  .portfolio-description-wrapper p{
    padding-bottom: 0.8em;
    font-family: Lato-Light;
    font-weight: 600;
    font-size: 1.1em;
    word-spacing: -0.015em;
  }

  .portfolio-buttons{
    width: 30.6%;
    display: flex;
    justify-content: space-between;
    font-family: Lato-Light;
    padding-bottom: 0.3em;
  }

  .portfolio-buttons a{
    color: #767e9e;
    border: #767e9e 0.1em solid;
    border-radius: 0.4em;
    font-size: 0.7em;
    text-decoration: none;
    padding: 0.3em 0.7em;
    font-family: Lato-Regular;
    font-stretch: extra-expanded;
  }

  .portfolio-buttons a:hover{
      color: white;
      border-color: white;
  }

  .current-choice{
      color: white !important;
      border-color: white !important;
  }

  .portfolio-images{
      padding-top: 1em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 1.2em;
      grid-row-gap: 1.2em;
  }