@font-face {
  font-family: Lato-Bold;
  src: url("assets/fonts/lato/Lato-Bold.ttf");
}

@font-face{
  font-family: Lato-Black;
  src: url("assets/fonts/lato/Lato-Black.ttf");
}

@font-face{
  font-family: Lato-Light;
  src: url("assets/fonts/lato/Lato-Light.ttf");
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

.test-wrapper {
  width: 1020px;
  margin: auto;
}

.content-wrapper {
  width: 92.1%;
  height: 100%;
  margin: 0 auto;
}

/*  Header styles */
header {
  position: sticky;

  height: 89px;

  background-color: #2d303a;
  color: white;
  box-shadow: 0 6px 0px 0px #323746;
  z-index: 150;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Lato-Bold;
  text-transform: uppercase;
}

/* Logo  styles*/
.header-wrapper .logo {
  display: flex;

  font-size: x-large;
}

.logo .logo-decorate {
  color: #f06c64;
}

/* Navbar styles */
.navbar {
  width: 39.5%;

  display: flex;
  justify-content: space-between;
}

.navbar a {
  padding-top: 7px;
  padding-left: 1.5px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 71.75%;
}

.navbar a:hover {
  color: #f06c64;
}

.navbar a+p {
  color: #494e62;
}

.slider {
  height: 600px;
  
  position: relative;

  background-color: #f06c64;
  box-shadow: 0 6px 0px 0px #ea676b;
  z-index: 100;
}

/* Services style */
.services {
  height: 500px;

  position: relative;

  background-color: #f2f2f2;
  box-shadow: 0 6px 0px 0px #ffffff;
  z-index: 50;
}

.services-wrapper{
  color: #767e9e;
}

.services-description{
  padding-top: 5.5%;
}

.services-description h1{
  font-size: 1.9rem;
  font-family: Lato-Black;
  line-height: 2;
  color: #666D89;
  letter-spacing: -0.01em;
}

.services-description p{
  padding-top: 0.5em;

  text-align: justify;
  font-size: 1.09rem;
  line-height: 1.69em;
  font-family: Lato-Light;
}
