@font-face {
  font-family: Lato-bold;
  src: url("assets/fonts/lato/Lato-Bold.ttf");
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

.test-wrapper {
  width: 1020px;
  margin: auto;
}

.content-wrapper {
  width: 92.1%;
  height: 100%;
  margin: 0 auto;
}

/*  Header styles */
header {
  position: sticky;

  height: 89px;

  background-color: #2d303a;
  color: white;
  box-shadow: 0 6px 0px 0px #323746;
  z-index: 150;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Lato-bold;
  text-transform: uppercase;
}

/* Logo  styles*/
.header-wrapper .logo {
  display: flex;

  font-size: x-large;
}

.logo .logo-decorate {
  color: #f06c64;
}

/* Navbar styles */
.navbar {
  width: 39.5%;

  display: flex;
  justify-content: space-between;
}

.navbar a {
  padding-top: 7px;
  padding-left: 1.5px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 71.75%;
}

.navbar a:hover {
  color: #f06c64;
}

.navbar a+p {
  color: #494e62;
}

.slider {
  height: 600px;
  
  position: relative;

  background-color: #f06c64;
  box-shadow: 0 6px 0px 0px #ea676b;
  z-index: 100;
}

.services {
  height: 500px;
  
  position: relative;

  background-color: #f2f2f2;
  box-shadow: 0 6px 0px 0px #ffffff;
  z-index: 50;
}