@font-face {
    font-family: Lato-Bold;
    src: url("assets/fonts/lato/Lato-Bold.ttf");
}

@font-face {
    font-family: Lato-Black;
    src: url("assets/fonts/lato/Lato-Black.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("assets/fonts/lato/Lato-Light.ttf");
}

@font-face {
    font-family: Lato-Regular;
    src: url("assets/fonts/lato/Lato-Regular.ttf");
}



* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

.test-wrapper {
    width: 1020px;
    margin: auto;
}

.content-wrapper {
    margin: 0 auto;

    width: 92.1%;
    height: 100%;
}

.quote{
    position: relative;
    z-index: 30;
    height: 648px;
    color: #f0d8d9;
    background-color: #f06c64;
    box-shadow: 0 6px 0px 0px #ea676b;
}

.quote-description {
    height: 27%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-title {
    padding-bottom: 0.6em;
    font-family: "Lato-Black";
    font-weight: 900;
    font-size: 1.9em;
}

.quote-description p {
    padding-right: 0.13em;
    font-family: Lato-Light;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;
    letter-spacing: -0.003em;
}

.contact-wrapper {
    padding-top: 2.5em;
    display: flex;
}

.contact-form {
    width: 66%;
    height: 47.5vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.contact-form input {
    height: 3.1em;
    border: 0.6em solid #d6564f;
    border-radius: 0.6em;
    background-color: #d6564f;
    font-size: 0.75em;
    padding-left: 0.5em;
}

.contact-form input[type=submit] {
    color: white;
    text-transform: uppercase;
}

::placeholder {
    color: #f48c8f;
    opacity: 1;
}

.contact-form textarea {
    height: 200px;
    resize: none;
    border: 1px solid #d6564f;
    border-radius: 0.6em;
    background-color: #d6564f;
    font-size: 0.7em;
    letter-spacing: 0.025em;
    padding-left: 1.2em;
    padding-top: 0.8em;
    font-family: Lato-Regular;
}

.contact-info {
    width: 34%;
    padding-left: 1.1em;
    font-family: Lato-Regular;
}

.contact-info h4 {
    font-size: 1.1em;
    letter-spacing: 0.03em;
}

.contact-info p{
    padding-top: 0.85em;
    line-height: 1.75em;
    font-family: Lato-Regular;
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: -0.009em;
    text-align: justify;
}

.contacts {
    padding-top: 1em;
    height: 3em;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
}

.contact a{
    display: block;
    margin-right: 0.5em;
}

footer {
    background-color: #2D303A;
    height: 10vh;
    color: rgb(247, 245, 241);
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}