@font-face {
  font-family: Lato-Bold;
  src: url("assets/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-Black;
  src: url("assets/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("assets/fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-Regular;
  src: url("assets/fonts/lato/Lato-Regular.ttf");
}

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

.test-wrapper {
  width: 1020px;
  margin: auto;
}

.content-wrapper {
  width: 92.1%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/*  Header styles */
header {
  position: sticky;
  top: 0;

  height: 5.6em;

  background-color: #2d303a;
  color: white;
  box-shadow: 0 6px 0px 0px #323746;
  z-index: 150;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Lato-Bold;
  text-transform: uppercase;
}

/* Logo  styles*/
.header-wrapper .logo {
  display: flex;

  font-size: 0.75em;
}

.logo .logo-decorate {
  font-size: 1.9em;
  color: #f06c64;
}

/* Navbar styles */
.navbar {
  width: 39.5%;

  display: flex;
  justify-content: space-between;
}

.navbar a {
  padding-top: 7px;
  padding-left: 1.5px;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 71.75%;
}

.navbar a:hover {
  color: #f06c64;
}

.navbar a+p {
  color: #494e62;
}

.is-active-nav {
  color: #f06c64 !important;
}

/* Slider styles */
.slider {
  height: 600px;

  position: relative;
  display: flex;
  justify-content: space-between;
}

.slider-nav {
  width: 5.7%;
  position: absolute;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  user-select: none;
}

#next-arrow {
  right: 0;
}

.slider-nav:hover {
  background-color: rgba(255, 254, 254, 0.13);
  cursor: pointer;
}

.slider-nav:last-child {
  justify-content: flex-start;
}

.slider-content {
  width: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: #f06c64;
  box-shadow: 0 6px 0px 0px #ea676b;
  z-index: 90;
}

.s2 {
  width: 100%;

  display: none;

  background-color: #647ef0;
  box-shadow: 0 6px 0px 0px #647ef0;
  z-index: 90;
}

.slider-content img {
  margin: 2.3em;
}

.showed-slide {
  display: flex;
}

.phone-wrapper {
  position: relative;
}

.iPhone-screen-one {
  position: absolute;
  
  bottom: 22.4%;
  left: 16.4%;
  height: 59.5%;
  width: 60%;
}

.iPhone-screen-two {
  position: absolute;

  width: 59.8%;
  height: 59.5%;
  bottom: 24.5%;
  left: 17.3%;
}

.iPhone-screen-three {
  position: absolute;
  left: 39.8%;
  bottom: 25.6%;

  width: 18.3%;
  height: 52.4%;
  z-index: 100;
}

.black-screen {
  background-color: black;
}

map {
  user-select: none;
  cursor: pointer;
}

/* Services style */
.services {
  height: 500px;

  position: relative;

  background-color: #f2f2f2;
  box-shadow: 0 6px 0px 0px #ffffff;
  z-index: 50;
}

.services-wrapper {
  color: #767e9e;
}

/* Services description block styles */
.services-description {
  padding-top: 5.5%;
}

.services-description h2 {
  font-size: 1.9rem;
  font-family: Lato-Black;
  line-height: 2;
  color: #666D89;
  letter-spacing: -0.01em;
}

.services-description p {
  padding-top: 0.5em;

  text-align: justify;
  font-size: 1.09rem;
  line-height: 1.69em;
  font-weight: 500;
  font-family: Lato-Light;
}

/* Services features block style*/
.services-features {
  padding-top: 5%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 2em;
}

.feature-block {
  display: flex;
}

.feature-description {
  padding-left: 1.1em;
  line-height: 1.25em;
}

.image-wrapper {
  text-align: center;
}

.feature-description h3 {
  font-family: Lato-Black;
  word-spacing: -0.1em;
}

.feature-description p {
  padding-top: 0.8em;

  font-family: Lato-Regular;
  font-weight: 500;
  font-size: 0.74em;
  text-align: justify;
}

/*  Singolo2 */

.portfolio {
  position: relative;
  height: 54.4em;
  display: flex;
  z-index: 40;

  background-color: #2D303A;
  color: #666d89;
  box-shadow: 0 6px 0px 0px #323746;
}

.portfolio-description {
  height: 21.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-title {
  padding-bottom: 0.8em;

  font-family: "Lato-Black";
  font-weight: 900;
  font-size: 1.9em;
}

.portfolio-description p {
  font-family: Lato-Light;
  font-weight: 600;
  font-size: 1.1em;
  word-spacing: -0.015em;
}

.portfolio-buttons {
  margin-top: 1em;
  display: flex;

  font-family: Lato-Light;
  padding-bottom: 0.3em;
}

.portfolio-buttons a {
  padding: 0.25em 0.55em;

  display: block;

  color: #767e9e;
  border: #767e9e 0.05em solid;
  border-radius: 0.4em;
  text-decoration: none;

  font-size: 0.75em;
  font-family: Lato-Regular;
}

.portfolio-buttons a+a {
  margin-left: 0.8em;
}

.portfolio-buttons a:hover {
  color: white;
  border-color: white;
}

.current-choice {
  color: white !important;
  border-color: white !important;
}

.portfolio-images {
  padding-top: 1em;

  max-height: 73%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.2em;
  grid-row-gap: 1.2em;
}

.portfolio-images .portfolio-pic:nth-child(1n+13) {
  display: none !important;
}

.pic-with-border {
  border: 5px #F06C64 solid;
}

/* About section */
.about {
  height: 45.8em;

  position: relative;
  z-index: 30;

  background-color: #f2f2f2;
  color: #666d89;
  box-shadow: 0 6px 0px 0px #ffffff;
}

.about-description {
  padding-top: 4em;

  display: flex;
  flex-direction: column;
}

.about-description p {
  font-family: Lato-Light;
  font-size: 1.1em;
  word-spacing: -0.02em;
  text-align: justify;
  line-height: 1.65em;
}

.about-columns-wrapper {
  padding-top: 3em;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.2em;
}

.about-column .name {
  padding-top: 0.7em;
  width: 17em;

  font-family: Lato-Black;
  font-weight: 500;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
}

.about-column .info {
  padding-top: 0.7em;

  font-family: Lato-Regular;
  font-size: 0.75em;
  text-align: justify;
  line-height: 1.65em;
}

.about-column span {
  word-spacing: -0.1em;
}

.about-icons {
  padding-top: 1.5em;

  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  grid-column-gap: 0.3em;
}

.soc-icons img {
  transition: transform .6s ease-in-out;
}

.soc-icons img:hover {
  transform: rotate(360deg);
}

/*  Singolo3 */

.quote {
  position: relative;
  z-index: 20;
  height: 40.8em;
  color: #f0d8d9;
  background-color: #f06c64;
  box-shadow: 0 6px 0px 0px #ea676b;
}

.quote-description {
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-title {
  padding-bottom: 0.6em;
  font-family: "Lato-Black";
  font-weight: 900;
  font-size: 1.9em;
}

.quote-description p {
  padding-right: 0.13em;
  font-family: Lato-Light;
  font-size: 1.1em;
  line-height: 1.9em;
  text-align: justify;
  letter-spacing: -0.003em;
}

/*  Contact section */
.contact-wrapper {
  padding-top: 2.5em;

  display: flex;
}

.contact-form {
  width: 66%;
  height: 27em;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contact-form input {
  height: 3.1em;

  border: 0.6em solid #d6564f;
  border-radius: 0.6em;

  background-color: #d6564f;

  font-size: 0.75em;
  padding-left: 0.5em;
}

.contact-form input[type=submit] {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1em;
  cursor: pointer;

  font-family: Lato-Regular;
}

::placeholder {
  color: #f48c8f;
  opacity: 1;
}

.contact-form textarea {
  padding-left: 1.2em;
  padding-top: 0.8em;

  height: 200px;

  resize: none;
  border: 1px solid #d6564f;
  border-radius: 0.6em;
  background-color: #d6564f;

  font-size: 0.7em;
  letter-spacing: 0.025em;
  font-family: Lato-Regular;
}

.contact-info {
  padding-left: 1.25em;

  width: 34%;

  font-family: Lato-Regular;
}

.contact-info h4 {
  font-size: 1.1em;
  letter-spacing: 0.03em;
}

.contact-info-description {
  padding-top: 0.85em;

  line-height: 1.75em;
  font-family: Lato-Regular;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: -0.009em;
  text-align: justify;
}

.contacts {
  margin-top: 2em;

  height: 20em;
  display: flex;
  align-content: center;
  flex-direction: column;

  font-size: 0.75em;
}

.contacts div {
  display: flex;
  margin: 0 0 0.5em;
}

.contacts div:first-child {
  padding-left: 0.35em;
}

.contacts p {
  padding-left: 1em;
}

footer {
  height: 5.5em;


  background-color: #2D303A;
  color: rgb(247, 245, 241);
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: small;
}

.footer-wrapper p {
  margin-left: 0.2em;

  color: #656D89;

  font-family: Lato-Regular;
  word-spacing: -0.1em;
  letter-spacing: -0.01em;
  font-size: 0.95em;
}

.footer-icons {
  padding-top: 0.49em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 150;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8)
}

.modal .form-data {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;

  width: 60%;
  max-height: 90%;

  border: #f06c64 2px solid;
  background-color: #ea676b;
  color: white;
  font-family: Lato-Light;
  border-radius: 0.6em;
}

.form-data h2{
  margin: auto;
}

.form-data .data {
  height: 90%;
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.data div {
  max-height: 15em;
  margin-top: 1em;
  background-color: #d6564f;
  border-radius: 0.6em;
  overflow-y: auto;
  text-align: justify;
}

.data p{
  padding: 0.5em 0.5em;
}

.form-data button{
  margin: 0.5em auto;
  width: 6em;
  height: 3em;
  color: white;
  background-color: #d6564f;
  border: #ea676b 1px solid;
  border-radius: 0.6em;
  cursor: pointer;
}
